html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: blueviolet;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-family: cursive;
    color: purple;
    background-color: black;
  }
}
